cmake-build-debug/
*idea*
.build
links.md
.gitignore
.vscode
.idea
*.mp3
*.wav
# *.txt
metadata.cpp
build*/
Makefile
trash.cpp
*.o
*.db
*.sqbpro
*.db-journal
music/*
*.out
main.cpp